@import "../styles/sizing.scss";

// MARGIN
.u-margin-left-none {
    margin-left: 0 !important;
  }
  
  .u-margin-left-half {
    margin-left: $size-half !important;
  }
  
  .u-margin-left {
    margin-left: $size-one !important;
  }
  
  .u-margin-left-double {
    margin-left: $size-double !important;
  }
  
  .u-margin-left-quad {
    margin-left: $size-quad !important;
  }
  
  .u-margin-right-none {
    margin-right: 0 !important;
  }
  
  .u-margin-right-half {
    margin-right: $size-half !important;
  }
  
  .u-margin-right {
    margin-right: $size-one !important;
  }
  
  .u-margin-right-double {
    margin-right: $size-double !important;
  }
  
  .u-margin-right-quad {
    margin-right: $size-quad !important;
  }
  
  .u-margin-top-none {
    margin-top: 0 !important;
  }
  
  .u-margin-top-half {
    margin-top: $size-half !important;
  }
  
  .u-margin-top {
    margin-top: $size-one !important;
  }
  
  .u-margin-top-double {
    margin-top: $size-double !important;
  }
  
  .u-margin-top-quad {
    margin-top: $size-quad !important;
  }
  
  .u-margin-top-large {
    margin-top: 70px !important;
  }
  
  .u-margin-top-med {
    margin-top: 50px !important;
  }
  
  .u-margin-bottom-none {
    margin-bottom: 0 !important;
  }
  
  .u-margin-bottom-half {
    margin-bottom: $size-half !important;
  }
  
  .u-margin-bottom {
    margin-bottom: $size-one !important;
  }
  
  .u-margin-bottom-double {
    margin-bottom: $size-double !important;
  }
  
  .u-margin-bottom-quad {
    margin-bottom: $size-quad !important;
  }
  
  .u-margin-bottom-large {
    margin-bottom: 70px !important;
  }
  
  .u-margin-bottom-med {
    margin-bottom: 50px !important;
  }
  
  // padding
  .u-padding-left-none {
    padding-left: 0 !important;
  }
  
  .u-padding-left-half {
    padding-left: $size-half !important;
  }
  
  .u-padding-left {
    padding-left: $size-one !important;
  }
  
  .u-padding-left-double {
    padding-left: $size-double !important;
  }
  
  .u-padding-left-quad {
    padding-left: $size-quad !important;
  }
  
  .u-padding-right-none {
    padding-right: 0 !important;
  }
  
  .u-padding-right-half {
    padding-right: $size-half !important;
  }
  
  .u-padding-right {
    padding-right: $size-one !important;
  }
  
  .u-padding-right-double {
    padding-right: $size-double !important;
  }
  
  .u-padding-right-quad {
    padding-right: $size-quad !important;
  }
  
  .u-padding-top-none {
    padding-top: 0 !important;
  }
  
  .u-padding-top-half {
    padding-top: $size-half !important;
  }
  
  .u-padding-top {
    padding-top: $size-one !important;
  }
  
  .u-padding-top-double {
    padding-top: $size-double !important;
  }
  
  .u-padding-top-quad {
    padding-top: $size-quad !important;
  }
  
  .u-padding-top-large {
    padding-top: 70px !important;
  }
  
  .u-padding-top-med {
    padding-top: 50px !important;
  }
  
  .u-padding-bottom-none {
    padding-bottom: 0 !important;
  }
  
  .u-padding-bottom-half {
    padding-bottom: $size-half !important;
  }
  
  .u-padding-bottom {
    padding-bottom: $size-one !important;
  }
  
  .u-padding-bottom-double {
    padding-bottom: $size-double !important;
  }
  
  .u-padding-bottom-quad {
    padding-bottom: $size-quad !important;
  }
  
  .u-padding-bottom-large {
    padding-bottom: 70px !important;
  }
  
  .u-padding-bottom-med {
    padding-bottom: 50px !important;
  }